<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <img data-src="https://res.cloudinary.com/crowandrew/image/upload/w_auto,c_scale/v1603932272/portfolio/Crow_Andrew_-_High_Res_2_n88ggh.jpg" class="cld-responsive">
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>